body {
    width: 80;
    max-width: 1024px;
    margin: 0 auto;
    background: black;
}

.container-padding50 {
    padding-top:50px ;
}

.container-text-input{
    width: 80%;
    display: inline-block;
    padding: 20px;
    font-size: 16px;
}

.container-button{
    width: 10%;
    display: inline-block;
    padding: 20px;
    background-color: skyblue;
    color: snow;
    font-size: 16px;
}