.contents {
    font-size: 1.2rem;
}

.grid-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather {
    display: flex;
    justify-content: flex-start;
}

.temparature {
    /* 4배의 글자 크기 */
    font-size: 4rem; 
}

.units {
    display: flex;
    font-size: 2.5rem;
}

.clickable{
    color: blue;
    cursor: pointer;
}

.additional-info{
    font-size: 1.5rem;
}